*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
} body{
    width: 100vw;
    padding-right: 10px;
    background: #525252;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* configure */
#config_wrap{
    z-index: 1000000;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #333030f1;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}#configuration{
    background: #2e2e2eb7;
    padding: 50px 0;
    width:  100%;
    max-width: 540px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}#configuration h1{
    margin-bottom: 30px;
    padding: 10px;
    background-color: #333333;
}#configuration p{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: large;
}#configuration *{
    margin-top: 10px;
    width: clamp(240px, 80%, 540px);
    text-align: center;
}#configuration input,
#configuration select,
#configuration button{
    padding: 10px;
    font-size: x-large;
}



/* fab */
.fab{
    z-index: 1000;

    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 50px;

    display: flex;
    flex-direction: column;
}.fab button{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;

    flex-grow: 1;
    flex-shrink: 0;

    border: 3px solid #fff;

    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;

    background: #222222;
    color: #ffffff;
    box-shadow: 0 0 15px #000000;
}


/* reel roll */
#reel_roll{
    width: clamp(240px, 90%, 540px);
    margin: 0 auto;
    padding: 100px 0;
}
@media only screen and (orientation: portrait){
    #reel_roll{
        width: 100%;
        padding: 100px 0;
        padding-left: 10px;
    }
}



/* post */
.post{
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;

    padding: 0 5px;
    border: 3px solid #ebebeb;
    background: #6e6e6edc;
    color: #dadada;
    box-shadow: 0 0 20px #292929;

    position: relative;
}.title{
    display: block;
    width: 100%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 900;
    text-transform: capitalize;
}.title a:any-link{
    text-decoration: none;
}.image{
    width: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
}.deatil{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}.created_at{
    font-family: 'Courier New', Courier, monospace;
    color: #9effd2;
    font-size: small;
    margin-bottom: 10px;
}.auther{
    color: #86e3ff;
    font-size: large;
}.subreddit{
    color: #ffe09e;
}.ups{
    color: #9effb3;
}



/* toast */
#toast{
    z-index: 10000000;
    position: fixed;
    top: 0;
    width: 100%;
}#toast > p{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    border: 2px solid #fff;
    color: #ffffff;
    width: 96%;
    margin: 10px auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}#toast p p{
    width: calc(100% - 50px);
    padding: 10px;
}#toast p span{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background: #616161;
}